.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  height: 100dvh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  h1 {
    font-size: 24px;
  }

  .addButton {
    background-color: #007bff;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 40px;
  padding: 30px 0;


  .card {
    width: 370px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }

    .actions {
      display: flex;
      gap: 10px;

      button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 18px;
        padding: 5px;

        &.editButton {
          color: #007bff;

          &:hover {
            color: #0056b3;
          }
        }

        &.deleteButton {
          color: #ff4d4d;

          &:hover {
            color: #cc0000;
          }
        }
      }
    }
  }
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
  }

  .pageNumber {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;

    &.active {
      background-color: #007bff;
      color: white;
    }
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 10px;
}

.modalContent {
  background: white;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  padding: 40px;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

}

.modalIcon {
  font-size: 40px;
  color: red;
}

.modalActions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;

}

.cancelButton {
  background: #f5f5f5;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton:hover {
  background: #e0e0e0;
}

.deleteButton {
  background: #e53935;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background: #d32f2f;
}


.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #ffd700; /* Желтый цвет */
  padding: 10px 20px;
  border-radius: 5px;
  color: #333;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  animation: fadeInOut 3s forwards;
}

.notification button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
