.AddCategory {
  width: 100%;
  height: 100vh;

  > section {
    padding: 30px 0;
    max-width: 1300px;
    margin: 0 auto;

    h3 {
      text-transform: capitalize;
      font-size: 25px;
    }
  }

  > form {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    label {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h5 {
        font-size: 20px;
      }

      input {
        padding: 15px 10px;
        border-radius: 5px;
        border: 1px solid black;
        outline: none;
      }
    }

    button {
      margin: 10px 0;
      padding: 15px 30px;
      background-color: #4a4cff;
      border: 1px solid transparent;
      color: #FFFFFF;

    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.modalContent.success {
  border: 2px solid green;
}

.modalContent.error {
  border: 2px solid red;
}

.modalButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalButton:hover {
  background-color: darkblue;
}
